.main{
    background: black;
   color:white;
    width:100vw;
    height: 100vh;
    display:flex;
    padding: auto;
   
   
   
}
.h1{
    color: rgb(120, 13, 192);
    font-size: 2.7rem;
    font-weight: 800;
    
    

}
.left,.right{
    
    height: 100% ;
}
.left{
    width: 50%;
    
   
}
.right{
    width: 60%;
    padding:2rem;
   
}
form>input{
    width: 80%;
    margin: auto;
    background: black;
    margin: 0.5rem;
    padding: .5rem;
    border-radius: 0.5rem;
}
form>button{
    
    width: 80%;
    
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to right, rgb(5, 5, 61), rgb(77, 14, 77));
    border-radius: .5rem;
    border:2px solid transparent;
     transition: border-color 0.3s ease, transform 0.3s ease;

}
form>button:hover{
    border: 2px solid rgb(105, 53, 145);
      transform: scale(1.05);
}

h2{
    color:rgb(125, 124, 124);
    font-size:1.2rem;
    margin-top: 1rem;
}
.box{
    background: rgb(35, 35, 35);
    width: 90%;
    border-radius: 1rem;
    height: fit-content;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.google{
    width: 35%;
    margin: auto;
    color: white;
    border: 3px solid rgb(88, 16, 88);
    padding: .4rem;
    border-radius: .5rem;
    text-align: center;
}
/* .signupContainer{
    margin: 5% 10% ;
    width: 80%;
    height: 90%;
    background: rgb(24, 23, 23);
    border-radius: 1rem;
    z-index: 100;
} */